html {
	font-size: 62.5%;
}

body {
	color: #222;
	line-height: 1.6;
	font-weight: 400;
	font-size: 1.5em;
}

html, body * {
	box-sizing: border-box;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
}

main {
	min-height: 100vh;
}

.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

@media (min-width: 400px) {
	.container {
		width: 85%;
		padding: 0;
	}
}

@media screen and (max-width: 425px) {
	.container {
		padding: 0;
		width: 96%;
	}
}

ul {
	list-style: circle inside;
}

ol {
	list-style: decimal inside;
}

ol, ul {
	padding-left: 0;
	margin-top: 0;
}

ul ul, ul ol,
ol ol, ol ul {
	margin: 1.5rem 0 1.5rem 3rem;
	font-size: 90%;
}

li {
	margin-bottom: 1rem;
}

code {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}

pre > code {
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}

th, td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #E1E1E1;
	
	&:first-child {
		padding-left: 0;
	}
	
	&:last-child {
		padding-right: 0;
	}
}

.cv-item-title {
	font-weight: 500;
	color: var(--cv-color);
	margin-bottom: 4px;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 2.4rem;
	line-height: 1.5;
	letter-spacing: -.05rem;
	@media screen and (max-width: 550px) {
		font-size: 1.8rem;
	}	
}

.cv-item-icon {
	width: 34px;
	height: 34px;
	min-width: 34px;
	min-height: 34px;	
	display: inline-flex;
	margin: 0;
	margin-right: 8px;
	align-items: center;
	justify-content: center;
	border: solid 2px var(--cv-color);
	background-color: #ffffff;
	border-radius: 100%;
	font-size: 18px;
	color: var(--cv-color);
	position: relative;
	@media screen and (max-width: 500px) {
		width: 30px;
		height: 30px;
		min-width: 30px;
		min-height: 30px;		
		font-size: 16px;
	}	
}

.cv-item-side-icon {
	position: absolute;
	top: 2px;
	left: 0;
	@media screen and (max-width: 500px) {
		position: relative;
	}	
}

.know-more {
	display: block;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	color: #fff;
	opacity: .9;
	margin-bottom: var(--gutter);
	background-color: var(--cv-color);
	border-radius: 24px;
	padding: 2px 8px;
	&:hover {
		text-decoration: underline;
	}
}

.text-ellipsis-small {
	max-width: 198px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	@media screen and (max-width: 768px) {
		overflow: auto;	
		text-overflow: unset;
	}
	@media screen and (max-width: 700px) {
		max-width: unset;
	}
}

