.toasted.custom-theme {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	font-weight: 500;
	border-radius: 22px;
	color: #ffffff;
	box-shadow: var(--box-shadow-b);
	max-width: 600px;
	border: solid 2px #fff;
	padding: var(--gutter) calc(var(--gutter) * 2);
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	@media screen and (max-width: 600px) {
		border: none;
		border-radius: 0;
		border-bottom: solid 2px #fff;
		min-height: var(--header-height);	
	}	
	&.info {
		background-color: var(--color-info);
	}
	&.success {
		background-color: var(--primary-color);
	}
	&.error {
		background-color: var(--color-error);
	}
	.action.ripple {
		color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 40px;
		font-size: 12px;
		border-radius: 100%;
		background-color: rgba(0,0,0,.2);
		min-height: 40px;
		padding: 6px;
		margin-left: 16px;
		text-decoration: none;
		&:hover {
			opacity: .9;
		}
	}
	p:empty {
		display: none;
	}
	p {
		margin: 0;
		font-size: 18px;
	}
}

@media only screen and (max-width: 600px) {
	.toasted-container, 
	.toasted-container.top-center {
		top: 0;
	}
}