name: Deploy to Prod

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - name: Install Dependencies
        run: npm ci
      - name: Deploy to Heroku
        uses: AkhileshNS/heroku-deploy@v3.12.13
        with:
          heroku_api_key: ${{secrets.HEROKU_PROD_API_KEY}}
          heroku_app_name: "lahiki-recruit-frontend"
          heroku_email: "eddine.farid@hotmail.fr"
